:root {
    font-size: 62.5%;
}
  
body {
    font-size: 1.6rem;
    background:Black;
    color: #23;
}
  
#page {
    max-width: 126rem;
    margin-inline: auto;
}
  
header {
    padding-block: 2rem;
    text-align: center;
}
  
fieldset {
    padding: 1.5rem;
    margin-bottom: 3rem;
}
  
label {
    display: block;
    margin-bottom: .5rem;
}
  
div {
    margin-bottom: 1rem;
}
  
input {
    padding: 1rem;
    border-radius: 1rem;
    border: none;
}
  
input:focus,
input:hover {
    outline: 2px White;}

input + label {
    display: inline;
}

h2 {
    margin-block: 2rem;
}

select,
textarea {
    padding: 1rem;
    border-radius: 1rem;
    resize: none;
}

button {
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    background: okchl(98.7% 0.456 671.069);
    border: none;
    color: Blue;
    border-radius: 1rem;
    font-weight: bold;
}

button:hover {
    background: oklch(51.7% 0.789 457.27);
    cursor: pointer;
    transition: ease-in-out 0.4s;
}
